<h2>Quiz</h2>
<ul class="list-group">

    <li *ngFor="let question of questions" class="list-group-item">
        <div [ngSwitch]="question.type">
            <app-true-fale-question [question]="question" [(answer)]="question.answer" *ngSwitchCase="'TRUE_FALSE'">
            </app-true-fale-question>
            <app-multiple-choice-question [question]="question" [(answer)]="question.answer"
                *ngSwitchCase="'MULTIPLE_CHOICE'">
            </app-multiple-choice-question>
        </div>
    </li>
</ul>
<button class="btn btn-primary" (click)="submitQuiz()">
    Submit Quiz
</button>