.active a {
    color : white
}
.navbar {
    justify-content: space-between;
    margin-top: 3rem;
    background-color: blueviolet;
    height:2.5rem;

}
.nav.navbar-nav{
    color: red;
}

.col.course-title{
    margin-top:1rem;

}
.row.header{
    margin-top: 2rem; 
}
.back-button{
    margin-top: 100rem;
}
.active-list-item {
    color: #3F51B5 !important; /* Note: You could also use a custom theme */
  }